.section-intro {
    background-image: url("./images/background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-intro-content {
    padding: 10em 0;
    margin-left: 230px;
    max-width: 720px;
}

.section-intro .section-text {
    padding: 3em 0;
    line-height: 1.2;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.25em;
}