html {
    box-sizing: border-box;
    line-height: 1.4;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

*,
:after,
:before {
    box-sizing: inherit;
}

:root {
    --white-color: #fff;
    --light-background: #f5f5f5;
    --black-color: #000;
    --light-color: #d9d9d9;
    --dark-color: #d9d9d9;
    --dark-text: #595959;
    --accent-color: #ff7c4c;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 1750px;
}

.base-section {
    padding: 0 85px;
}

.base-list {
    list-style: none;
}

.cta-button {
    display: inline-block;
    border-radius: 4px;
    padding: 20px 40px;
    text-decoration: none;
}

.cta-button.black {
    background-color: var(--black-color);
    color: var(--white-color);
}

.cta-button.white {
    background-color: var(--white-color);
    color: var(--black-color);
}

.main-heading {
    font-size: 3em;
}

.section-subtitle {
    font-size: 2em;
    font-weight: 500;
}

.accent {
    font-weight: 600;
}